.collapse {
	gap: 5px;
	display: flex;
	flex-direction: column;
    padding-left: 0;
}
.collapse li {
	background-color: #FF6060;
	width: 100%;
	height: 46px;
	display: flex;
	align-content: center;
	align-items: center;
	border-radius: 5px;
	justify-content: space-between;
}
.collapse li span {
	color: white;
	margin-inline: 2%;
	font-size: 1.56vw;
}
.collapse div{
	background-color: #F6F6F6;
	margin: 0;
}
.collapse p{
	margin-inline: 5%;
}
.collapse img{
	margin-inline: 2%;
}